.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.971219;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.971191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.972168;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._7{margin-left:-4.767427px;}
._4{margin-left:-1.144123px;}
._0{width:1.094990px;}
._1{width:2.549453px;}
._9{width:74.805626px;}
._5{width:473.086813px;}
._2{width:490.241459px;}
._8{width:576.738782px;}
._6{width:587.836079px;}
._3{width:967.476732px;}
.fc3{color:rgb(124,124,124);}
.fc1{color:rgb(49,60,78);}
.fc2{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:31.993853px;}
.fs2{font-size:35.650293px;}
.fs1{font-size:48.447834px;}
.fs3{font-size:55.760714px;}
.fs0{font-size:92.325117px;}
.y0{bottom:1.500000px;}
.y1{bottom:1.704319px;}
.y23{bottom:212.987644px;}
.y22{bottom:226.242240px;}
.y21{bottom:239.953891px;}
.y20{bottom:261.892533px;}
.y1f{bottom:310.111839px;}
.y1e{bottom:324.966128px;}
.y1d{bottom:335.935449px;}
.y1c{bottom:350.789738px;}
.y1b{bottom:361.759059px;}
.y2d{bottom:373.642489px;}
.y1a{bottom:386.211503px;}
.y19{bottom:397.180824px;}
.y18{bottom:410.435420px;}
.y2b{bottom:420.947686px;}
.y17{bottom:424.147071px;}
.y2a{bottom:431.688479px;}
.y29{bottom:450.427736px;}
.y16{bottom:454.084176px;}
.y15{bottom:468.938464px;}
.y14{bottom:479.907785px;}
.y13{bottom:494.762074px;}
.y28{bottom:505.502867px;}
.y12{bottom:505.731395px;}
.y11{bottom:520.585684px;}
.y27{bottom:531.097949px;}
.y10{bottom:535.439972px;}
.yf{bottom:546.409293px;}
.y26{bottom:556.693031px;}
.y2c{bottom:558.292724px;}
.ye{bottom:570.861738px;}
.yd{bottom:581.831058px;}
.y25{bottom:582.288113px;}
.yc{bottom:595.085654px;}
.y24{bottom:607.883195px;}
.yb{bottom:608.797306px;}
.ya{bottom:630.735947px;}
.y9{bottom:664.100965px;}
.y8{bottom:683.982859px;}
.y7{bottom:703.864753px;}
.y6{bottom:743.171486px;}
.y5{bottom:754.140807px;}
.y4{bottom:765.110128px;}
.y3{bottom:780.421472px;}
.y2{bottom:797.789563px;}
.h7{height:25.057685px;}
.h5{height:27.921421px;}
.h4{height:37.944495px;}
.h6{height:43.671966px;}
.h3{height:72.309320px;}
.h2{height:840.295681px;}
.h1{height:840.500000px;}
.h0{height:842.000000px;}
.w1{width:594.857128px;}
.w0{width:595.000000px;}
.x0{left:0.000000px;}
.x3{left:24.909499px;}
.x4{left:33.822073px;}
.x2{left:43.877283px;}
.x1{left:120.891057px;}
.x5{left:315.367975px;}
.x6{left:322.223800px;}
.x7{left:451.570376px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._7{margin-left:-6.356569pt;}
._4{margin-left:-1.525497pt;}
._0{width:1.459986pt;}
._1{width:3.399271pt;}
._9{width:99.740835pt;}
._5{width:630.782417pt;}
._2{width:653.655279pt;}
._8{width:768.985043pt;}
._6{width:783.781438pt;}
._3{width:1289.968976pt;}
.fs4{font-size:42.658470pt;}
.fs2{font-size:47.533724pt;}
.fs1{font-size:64.597112pt;}
.fs3{font-size:74.347619pt;}
.fs0{font-size:123.100156pt;}
.y0{bottom:2.000000pt;}
.y1{bottom:2.272425pt;}
.y23{bottom:283.983526pt;}
.y22{bottom:301.656320pt;}
.y21{bottom:319.938522pt;}
.y20{bottom:349.190044pt;}
.y1f{bottom:413.482453pt;}
.y1e{bottom:433.288171pt;}
.y1d{bottom:447.913932pt;}
.y1c{bottom:467.719650pt;}
.y1b{bottom:482.345411pt;}
.y2d{bottom:498.189986pt;}
.y1a{bottom:514.948671pt;}
.y19{bottom:529.574432pt;}
.y18{bottom:547.247226pt;}
.y2b{bottom:561.263581pt;}
.y17{bottom:565.529428pt;}
.y2a{bottom:575.584639pt;}
.y29{bottom:600.570314pt;}
.y16{bottom:605.445568pt;}
.y15{bottom:625.251286pt;}
.y14{bottom:639.877047pt;}
.y13{bottom:659.682765pt;}
.y28{bottom:674.003823pt;}
.y12{bottom:674.308527pt;}
.y11{bottom:694.114245pt;}
.y27{bottom:708.130599pt;}
.y10{bottom:713.919963pt;}
.yf{bottom:728.545724pt;}
.y26{bottom:742.257375pt;}
.y2c{bottom:744.390299pt;}
.ye{bottom:761.148983pt;}
.yd{bottom:775.774745pt;}
.y25{bottom:776.384151pt;}
.yc{bottom:793.447539pt;}
.y24{bottom:810.510927pt;}
.yb{bottom:811.729741pt;}
.ya{bottom:840.981263pt;}
.y9{bottom:885.467953pt;}
.y8{bottom:911.977145pt;}
.y7{bottom:938.486337pt;}
.y6{bottom:990.895315pt;}
.y5{bottom:1005.521076pt;}
.y4{bottom:1020.146837pt;}
.y3{bottom:1040.561962pt;}
.y2{bottom:1063.719417pt;}
.h7{height:33.410247pt;}
.h5{height:37.228561pt;}
.h4{height:50.592660pt;}
.h6{height:58.229288pt;}
.h3{height:96.412427pt;}
.h2{height:1120.394242pt;}
.h1{height:1120.666667pt;}
.h0{height:1122.666667pt;}
.w1{width:793.142837pt;}
.w0{width:793.333333pt;}
.x0{left:0.000000pt;}
.x3{left:33.212666pt;}
.x4{left:45.096097pt;}
.x2{left:58.503045pt;}
.x1{left:161.188076pt;}
.x5{left:420.490633pt;}
.x6{left:429.631734pt;}
.x7{left:602.093834pt;}
}
